<div class="settings-container">
  <h1>
    <mat-icon>settings</mat-icon>
    Settings
  </h1>

  <mat-card>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/profile/edit">
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemTitle>Edit Profile</span>
          <span matListItemLine>Update your personal information</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/profile">
          <mat-icon matListItemIcon>visibility</mat-icon>
          <span matListItemTitle>View Profile</span>
          <span matListItemLine>See how your profile looks to others</span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
